$text-color: #00ff00;
$button-color: #00ff00;

.ms-button{
    font-size: 20px;
    padding: 10px 20px;
    background-color: green;
    color: $button-color;
    cursor: pointer;
}

.ms-text{
    color: $text-color;
    font-weight: 800;
}